<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="css/style.css">
    <title>To Do List</title>
</head>
<body>
    

    <div id="root">
        <!--inizio top - logo - input -->
        <div class="top">
            <div class="logo">
                <img src="https://www.boolean.careers/images/misc/logo.png" alt="logo-boolean">
            </div>

            <div class="input-part">
                <label for="aggiungi">
                    <input v-model="message" type="text" placeholder="Nuovo Todo">
                </label>

                <button @click="aggiungiLista">Aggiungi</button>
            </div>
        </div>

        <!--Inizio down liste-->
        <div class="down">
            <div class="list-container">
                <ul>
                    <li class="fix" v-for="item in items">{{item}}<i class="fas fa-times"></i></li>
                </ul>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/script.js"></script>
</body>
</html>